
//Agregar nueva font-family
@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.otf')
    font-style: normal;
    font-weight: normal;
}

.font-gotham
  font-family "GothamBold", sans-serif